@model ProvaAnagrafica.Models.Anagrafica

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Sei sicuro di volerlo eliminare?</h3>
<div>
    <h4>Dati anagrafici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnoNascita)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnoNascita)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sesso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sesso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AnagraficaId" />
        <input type="submit" value="Elimina" class="btn btn-default" /> |
        <a asp-action="Index">Indietro</a>
    </form>
</div>
