@model ProvaAnagrafica.Models.Anagrafica

@{
    ViewData["Title"] = "Details";
}

<h2>Dettagli</h2>

<div>
    <h4>Dati anagrafici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt>
            Data di nascita
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnoNascita)
        </dd>
        <dt>
            Codice fiscale
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sesso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sesso)
        </dd>
    </dl>
    
    <a asp-action="Edit" asp-route-id="@Model.AnagraficaId">Modifica</a> |
    <a asp-action="Index">Indietro</a>
</div>
