@model IEnumerable<ProvaAnagrafica.Models.Anagrafica>

@{
    ViewData["Title"] = "Index";
}

<h2 class="stiletitolo">ANAGRAFICA</h2>

<p>
    <a asp-action="Create"><i>CREA NUOVA ANAGRAFICA</i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Cognome
            </th>
            <th>
                Anno di nascita
            </th>
            <th>
                Codice fiscale
            </th>
            <th>
                Sesso
            </th>
            <!-- <th>
                Prova123
            </th>* -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnoNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceFiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sesso)
            </td>
            <!-- <td>
                
            </td> -->
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnagraficaId">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.AnagraficaId">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.AnagraficaId">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
