@model IEnumerable<ProvaAnagrafica.Models.Anagrafica>

@{
    ViewData["Title"] = "Index";
}

<h2 class="stiletitolo">ANAGRAFICA</h2>

<p>
    <a asp-action="Create">CREA NUOVA ANAGRAFICA</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnoNascita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiceFiscale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnoNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceFiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sesso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnagraficaId">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.AnagraficaId">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.AnagraficaId">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
