@model ProvaAnagrafica.Models.Indirizzo

@{
    ViewData["Title"] = "Delete";
}

<h2 class="stiletitolo">Elimina</h2>

<h3>Sei sicuro di voler cancellare l'indirizzo?</h3>
<div>
    <h4 class="sottotitolo">Indirizzo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome indirizzo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeIndirizzo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Città)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Città)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nazione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazione)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CAP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CAP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anagrafica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anagrafica.AnagraficaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IndirizzoId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Indietro</a>
    </form>
</div>
