@model IEnumerable<ProvaAnagrafica.Models.Indirizzo>

@{
    ViewData["Title"] = "Index";
}

<h2 class="stiletitolo">INDIRIZZI</h2>

<p>
    <a asp-action="Create"><i>CREA NUOVO INDIRIZZO</i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome indirizzo
            </th>
            <th>
                Città
            </th>
            <th>
                Nazione
            </th>
            <th>
                CAP
            </th>
            <th>
                Anagrafica
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeIndirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Città)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anagrafica.AnagraficaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IndirizzoId">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.IndirizzoId">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.IndirizzoId">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
